@page
@model RSI_Project.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    @if (Model.employeeUser.userType > 1)
    {
        <div class="row">
            <h2>Employees</h2>
            <p>&nbsp;</p>
            <form asp-page-handler="search" method="post">
                <input type="search" name="searchID" placeholder="Employee ID ex: 000000" />
                <input type="submit" value="Search" />
            </form>
            
            <p>&nbsp;</p>
            <table id="adminEmployeeTable" class="table table-striped table-light">
                <thead>
                    <tr style="cursor: pointer">
                        <th onclick="sortTable(0)">Employee Number</th>
                        <th class="text-start" onclick="sortTable(1)">Last Name</th>
                        <th class="text-start" onclick="sortTable(2)">First Name</th>
                        <th onclick="sortTable(3)">Region</th>
                        <th onclick="sortTable(4)">In Labs</th>
                        <th onclick="sortTable(5)">Practice Area</th>
                        <th onclick="sortTable(6)">User Type</th>
                        <th class="text-start" onclick="sortTable(7)">Email</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.employeeList)
                    {
                        <tr>
                            <td>@employee.employeeID</td>
                            <td class="text-start">@employee.lName</td>
                            <td class="text-start">@employee.fName</td>
                            @switch (@employee.regionID)
                            {
                                case 1:
                                    <td>NE</td>
                                    break;
                                case 2:
                                    <td>NW</td>
                                    break;
                                case 3:
                                    <td>CE</td>
                                    break;
                                case 4:
                                    <td>SE</td>
                                    break;
                                case 5:
                                    <td>SW</td>
                                    break;

                            }
                            @if (employee.inLabs.Value[0]==0)
                            {
                                <td>No</td>
                            }
                            else
                            {
                                <td>Yes</td>
                            }
                            <td>@Model.GetPracticeAreaName(employee.practiceArea)</td>
                            <td>@employee.userType</td>
                            <td class="text-start">@employee.email</td>
                            @if (employee.inLabs.Value[0] == 0)
                            {
                                <td><button class="btn" style="width:100%; background-color:lightgreen;">+</button></td>
                            }
                            else
                            {
                                <td><button class="btn" style="width:100%; background-color:lightcoral;">-</button></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>You do not have admin privileges.</p>
        <p><a href="/">Return Home</a></p>
    }
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("adminEmployeeTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>