@page
@model RSI_Project.Pages.EditPersonalModel
@{
    ViewData["Title"] = "Personal Information";
}

<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
</asp:ScriptManager>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>Skills</p>
        </div>
        <div class="col-3">
            <p>@Model.employee.employeeID</p>
            <input type="text" value="@Model.employee.fName" />
            <input type="text" value="@Model.employee.lName" />
            <p>@Model.employee.email</p>
            <table class="table table-striped">
                <tr>
                    <th>Skill</th>
                    <th>&nbsp;</th>
                </tr>
                @foreach (var skill in Model.skills)
                {
                    <tr>
                        <td>@skill.skillName</td>
                        <!--this should NOT delete the record, rather set the skill as inactive-->
                        <td>
                            <form asp-action="UpdateSkillActivity" asp-controller="EditPersonal" method="post">
                                <button type="button" name="active" value="@skill.empSkillId" class="btn btn-primary">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <form id="personalSkills">
                <select>
                    @foreach (var unasSkill in Model.unasSkills)
                    {
                        <option value="@unasSkill.skillID">@unasSkill.skillName</option>
                    }
            </select>
                <input type="submit" value="Add" />
            </form>
            <script>
                function DisableSkill(ID)
                {
                    alert("test");
                    
                    
                }
            </script>
        </div>
    </div>
</div>



