@page
@model RSI_Project.Pages.EditPersonalModel
@{
    ViewData["Title"] = "Personal Information";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>Skills</p>
        </div>
        <div class="col-3">
            <p>@Model.employee.employeeID</p>
            <input type="text" value="@Model.employee.fName" />
            <input type="text" value="@Model.employee.lName" />
            <p>@Model.employee.email</p>
            <table class="table table-striped">
                <tr>
                    <th>Skill</th>
                    <th>&nbsp;</th>
                </tr>
                @foreach (var skill in Model.skills)
                {
                    <tr>
                        <td>@skill.skillName</td>
                        <td><input type="submit" value="Remove" /></td>
                    </tr>
                }
            </table>
            <form id="personalSkills">
                <select>
                    @foreach (var unasSkill in Model.unasSkills)
                    {
                        <option value="@unasSkill.skillID">@unasSkill.skillName</option>
                    }
            </select>
                <input type="submit" value="Add" />
            </form>
        </div>
    </div>
</div>



