@page
@using RSI_Project.Classes
@model RSI_Project.Pages.EditPersonalModel
@{
    ViewData["Title"] = "Personal Information";

}



<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center" style="font-size:1.2em;">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>Practice Area</p>
            <p>Skills</p>
        </div>
        <div class="col-3">
            <p>@Model.employee.employeeID</p>
            <p><input type="text" value="@Model.employee.fName" /></p>
            <p><input type="text" value="@Model.employee.lName" /></p>
            <p>@Model.employee.email</p>
            <form id="practiceArea" asp-page-handler="area" method=post>
                <select name="practiceAreaId" onchange="this.form.submit()">
                    @foreach (PracticeArea practiceArea in Model.practiceAreas)
                    {
                        @if (Model.employee.practiceArea == practiceArea.practiceAreaID)
                        {
                            <option value="@practiceArea.practiceAreaID" selected>@practiceArea.practiceAreaName</option>
                        }
                        else
                        {
                            <option value="@practiceArea.practiceAreaID">@practiceArea.practiceAreaName</option>
                        }
                    }
                </select>
                <input type="hidden" name="empId" value="@Model.employee.empIntID" />
            </form>
            <br />
            <table class="table table-striped table-light">
                @foreach (var skill in Model.skills)
                {
                    <tr>
                        <td>@skill.skillName</td>
                        <!--this should NOT delete the record, rather set the skill as inactive-->
                        <td>
                            <form asp-page-handler="remove" method="post">
                              <button class="btn btn-default" style="color:red;">Remove</button>
                                <input type="hidden" name="skillId" value="@skill.skillID" />
                                <input type="hidden" name="empId" value="@Model.employee.empIntID" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <form id="personalSkills" asp-page-handler="add" method="post">
                <select name="skillId">
                    @foreach (var unasSkill in Model.unasSkills)
                    {
                        <option value="@unasSkill.skillID">@unasSkill.skillName</option>
                    }
                </select>
                <input type="hidden" name="empId" value="@Model.employee.empIntID" />
                <p></p>
                <button class="btn btn-default btn-light">Add</button>
            </form>
        </div>
    </div>
</div>




