@page
@model WebApplication2.Pages.PersonalModel
@{
    ViewData["Title"] = "Personal Information";
    string skillsString = "";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center" style="font-size: 1.2em;">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>Practice Area</p>
            <p>Skills</p>
        </div>
        <div class="col-3">
            <p>@Model.employee.employeeID</p>
            <p>@Model.employee.fName</p>
            <p>@Model.employee.lName</p>
            <p>@Model.employee.email</p>
            <p>@Model.GetPracticeAreaName(Model.employee.practiceArea)</p>
            @foreach (var skill in Model.skills)
            {
                if (skill.Equals(Model.skills.Last()))
                {
                    skillsString += skill.skillName;
                }
                else
                {
                    skillsString += skill.skillName + ", ";
                }
            }
            <p>@skillsString</p>
            <form action="EditPersonal">
                <input type="submit" value="Edit"/>
            </form>
        </div>
    </div>
</div>


