@page
@model WebApplication2.Pages.PersonalModel
@{
    ViewData["Title"] = "Personal Information";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p></p>
    <div class="row text-start justify-content-center">
        <div class="col-2">
            <p>Employee ID</p>
            <p>First Name</p>
            <p>Last Name</p>
            <p>Email</p>
            <p>Skills</p>
        </div>
        <div class="col-3">
            <p>@Model.employee.employeeID</p>
            <p>@Model.employee.fName</p>
            <p>@Model.employee.lName</p>
            <p>@Model.employee.email</p>
            <table class="table table-striped">
                <tr>
                    <th>Skill</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <!--
                        foreach (String skillName in skillsArray) {
                            <td>skillName</td>
                            <form>
                                <td><input type="submit" value="Remove" /></td>
                        }
                    -->
                    <td>SQL</td>
                    <td><input type="submit" value="Remove" /></td>
                </tr>
            </table>
            <form id="personalSkills">
                <select>
                    <option value="skill1">Skill 1</option>
                    <option value="skill2">Skill 2</option>
                    <option value="skill3">Skill 3</option>
                    <option value="skill4">Skill 4</option>
                    <option value="skill5">Skill 5</option>
                </select>
                <input type="submit" value="Add" />
            </form>
        </div>
    </div>
</div>


