@page
@model RSI_Project.Pages.ViewUpdateCreateActiveTrainingModel
@{
    ViewData["Title"] = "View Training Plan";
}
<style>
    .flexbox-container {
        display:flex;
        background-color: rgba(50,50,50,.3);
        border-radius: .4em;
        overflow: hidden;
        padding: .1em;
        margin: .1em;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .item {
        flex-grow: 1;
        background-color: rgba(250,250,250,.5);
        border-radius: .4em;
    }

    .item-2 {
        flex-grow: 2;
        background-color: rgba(250,250,250,.5);
        border-radius: .4em;
    }

    .item-3 {
        flex-grow: 3;
        background-color: rgba(250,250,250,.5);
        border-radius: .4em;
    }

    .margins {
        margin: .1em;
    }

    textarea {
        width: 90%;
        resize:none;
    }
</style>

<div class="text-center">
    <h1>Active training for @Model.employee.fName @Model.employee.lName</h1>
    <br />
    <div class="flexbox-container">
        <div class="item margins">
            <p>Status: @Model.activeTraining.status</p>
        </div>
        <div class="item margins">
            <p>Medium: @Model.activeTraining.medium</p>
        </div>
        <div class="item margins">
            <p>Start Date: @Model.activeTraining.startDate.ToShortDateString()</p>
        </div>
        <div class="item margins">
            <p>EndDate: @Model.activeTraining.endDate.ToShortDateString()</p>
        </div>

    </div>
    <div class="flexbox-container">
        <div class="item margins">
            <p>Description</p>
            <textarea disabled>@Model.activeTraining.description</textarea>
        </div>

    </div>

</div>





