@page
@model RSI_Project.Pages.ViewActiveTrainingModel
@{
    ViewData["Title"] = "View Training Plan";
}
<style>
    .flexbox-container {
        display:flex;
        background-color: black;
        border-radius: .4em;
        overflow: hidden;
        padding: .1em;
        margin: .1em;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }

    .item {
        flex-grow: 1;
        background-color: white;
        border-radius: 0.4em;
    }

    .item-none {
        flex-grow: 1;
        background-color: white;
    }

    .item-left {
        flex-grow: 1;
        background-color: white;
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
    }

    .item-right {
        flex-grow: 1;
        background-color: white;
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }

    .margins {
        margin: .1em;
    }

    textarea {
        width: 90%;
        background-color: #f0f0f0;
        color: black;
        border: 2px solid #718391;
        margin: 0.5em auto 1em auto;
        resize:none;
    }

    .noPlan {
        width: 25%;
        margin: 0 auto;
        background-color: white;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        border: 2px solid black;
        border-radius: 0.4em;
    }
</style>

<div class="text-center" style="font-size: 1.2em;">
    <h1>Active Training for @Model.employee.fName @Model.employee.lName</h1>
    <br />
    @if (Model.employee.inLabs.Value[0] == 1 && Model.activeTraining.trainingPlanID != 0)
    {
        <div class="flexbox-container">
            <div class="item-left margins">
                <p style="margin: 0.5em 0;">Status: @Model.activeTraining.status</p>
            </div>
            <div class="item-none margins">
                <p style="margin: 0.5em 0;">Medium: @Model.activeTraining.medium</p>
            </div>
            <div class="item-none margins">
                <p style="margin: 0.5em 0;">Start Date: @Model.activeTraining.startDate.ToShortDateString()</p>
            </div>
            <div class="item-right margins">
                <p style="margin: 0.5em 0;">End Date: @Model.activeTraining.endDate.ToShortDateString()</p>
            </div>
        </div>
        <div class="flexbox-container">
            <div class="item margins" style="padding-bottom: 0.75em;">
                <p style="margin: 0.5em 0;">Description</p>
                <textarea disabled>@Model.activeTraining.description</textarea>
                <br />
                <button id="createPlan" class="btn-light" style="border: 1px solid #718391;">Edit Plan</button>
            </div>
        </div>
    }
    else if (Model.employee.inLabs.Value[0] == 1)
    {
        <div class="noPlan">
            <p>No active training plan.</p>
            <button id="createPlan" class="btn-light" style="border: 1px solid #718391;">Create Plan</button>
        </div>
        
    }
    else
    {
        <div class="noPlan">
            <p>No active training plan.</p>
        </div>
    }

</div>

<div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
</div>

<script type="text/javascript">
    document.getElementById("createPlan").onclick = function () {
        location.href = "/AddUpdateTrainingPlan";
    };
</script>




